* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.container {
    width: 1268.92px;
    margin: 0 auto;
}
@media screen and (max-width: 420px) {
    .container {
        width: unset;
    }
}
.orderTop {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 420px) {
    .orderTop {
        flex-direction: column;
        padding-bottom: unset;
    }
}
.orderTop__header {
    font-size: 32px;
}
@media screen and (max-width: 420px) {
    .orderTop__header {
        display: none;
    }
}
.orderTop__links {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
@media screen and (max-width: 420px) {
    .orderTop__links {
        display: none;
    }
}
.orderTop__links-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
.orderTop__links-link:hover {
    color: #fe9900;
}
.orderTop__links-link img {
    height: 40px;
    padding-right: 5px;
}
.main {
    line-height: 1.4rem;
    color: #999;
    padding-bottom: 30px;
}
.main .cards {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}
@media screen and (max-width: 420px) {
    .main .cards {
        flex-direction: column;
        padding: 0 30px;
    }
}
.main .cards .platformTv {
    background-image: url(/img/couch1.6ad1b413.png);
    background-position: 50%;
    background-size: cover;
}
@media screen and (max-width: 420px) {
    .main .cards .platformTv {
        margin-bottom: 30px;
    }
}
.main .cards .platformPhone {
    background-image: url(/img/phone2.1d412eb1.webp);
    background-position: 50%;
    background-size: cover;
}
@media screen and (max-width: 420px) {
    .main .cards .platformPhone {
        margin-bottom: 30px;
    }
}
.main .cards .platformWeb {
    background-image: url(/img/laptop.8f3fcd9d.jpg);
    background-position: 50%;
    background-size: cover;
}
.main .cards .card {
    width: 350px;
    height: 200px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.494);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
}
@media screen and (max-width: 420px) {
    .main .cards .card {
        width: unset;
        font-size: 24px;
    }
}
.main__title {
    font-size: 32px;
    padding: 30px 0;
    color: #fff;
}
@media screen and (max-width: 420px) {
    .main__title {
        font-size: 24px;
        padding: 30px 30px;
    }
}
.hero {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-bottom: 2px solid #fe9900;
}
@media screen and (max-width: 420px) {
    .hero {
        flex-direction: column;
        text-align: center;
        font-size: 16px;
    }
}
.hero span {
    padding-right: 15px;
}
@media screen and (max-width: 420px) {
    .hero span {
        padding-right: unset;
        height: 50px;
    }
}
.price {
    color: #fff;
    line-height: 1.4rem;
    padding: 15px;
    margin: 30px 0;
}
@media screen and (max-width: 420px) {
    .price {
        margin: unset;
        padding: 0 30px;
    }
}
.price__title {
    font-size: 32px;
    padding: 30px 0;
}
.price__cards {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 420px) {
    .price__cards {
        flex-direction: column;
    }
}
.price__cards .bkg {
    background-image: url(/img/image.28b0cf44.png);
    background-position: 50%;
    background-size: cover;
}
@media screen and (max-width: 420px) {
    .price__cards .bkg {
        margin-bottom: 30px;
    }
}
.price__cards .bkg1 {
    background-image: url(/img/image1.53d5e293.png);
    background-position: 50%;
    background-size: cover;
}
@media screen and (max-width: 420px) {
    .price__cards .bkg1 {
        margin-bottom: 30px;
    }
}
.price__cards .bkg3 {
    background-image: url(/img/image2.fa251bd2.png);
    background-position: 50%;
    background-size: cover;
}
@media screen and (max-width: 420px) {
    .price__cards .bkg3 {
        margin-bottom: 30px;
    }
}
.price__cards-card {
    padding: 45px 15px;
    width: 300px;
    text-align: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.494);
}
@media screen and (max-width: 420px) {
    .price__cards-card {
        width: unset;
    }
}
.price__cards-card .currentPrice {
    font-size: 42px;
    color: #fff;
    padding-bottom: 30px;
}
@media screen and (max-width: 420px) {
    .price__cards-card .currentPrice {
        font-size: 32px;
        padding-bottom: 20px;
    }
}
.price__cards-card .currentPrice__subtitle {
    color: #999;
}
.requirements {
    color: #999;
    padding-bottom: 30px;
}
@media screen and (max-width: 420px) {
    .requirements {
        padding: 0 30px;
    }
}
.requirements__header {
    font-size: 24px;
}
.requirements li {
    list-style-type: none;
    line-height: 22px;
}
.statistic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #fe9900;
}
@media screen and (max-width: 420px) {
    .statistic {
        flex-direction: column;
    }
}
.statistic__left {
    height: 360px;
}
@media screen and (max-width: 420px) {
    .statistic__left {
        display: none;
    }
}
.statistic__right {
    padding: 30px;
    font-size: 18px;
    color: #999;
}
@media screen and (max-width: 420px) {
    .statistic__right {
        font-size: 16px;
        padding: unset;
    }
}
.statistic__right-header {
    color: #fe9900;
}
.order {
    display: flex;
    align-items: center;
    padding: 30px 0;
}
@media screen and (max-width: 420px) {
    .order {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 30px;
    }
}
.order__header {
    font-size: 18px;
}
@media screen and (max-width: 420px) {
    .order__header {
        font-size: 16px;
        padding-bottom: 10px;
    }
}
.order__link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
@media screen and (max-width: 420px) {
    .order__link {
        padding: unset;
        padding-bottom: 10px;
        font-size: 16px;
    }
}
.order__link:hover {
    color: #fe9900;
}
.order__link img {
    height: 40px;
}
@media screen and (max-width: 420px) {
    .order__link img {
        height: 24px;
    }
}
